#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #756b6b;
}

canvas {
    border: 1px solid #999;
    background-color: #000000;
}

#score {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color: #016d0a;
}